$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;

.line {
    height: 50px;
    width: 100%;
    border: 2px solid $yellow;
    border-radius: 5px; 
    color: $blue;
    margin: 20px 0;
    display: flex;
    align-items: center;

    span {
        font-size: 18pt;
        text-transform: uppercase;
        font-weight: bolder;
        margin-left: 10px;
    }
}