$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;

.line {
    height: 50px;
    width: 100%;
    border: 2px solid $yellow;
    border-radius: 5px; 
    color: $blue;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover{
        color: $yellow;
        border-color: $blue;
    }

    span {
        font-size: 18pt;
        text-transform: uppercase;
        font-weight: bolder;
        margin-left: 10px;
    }

    i{
        cursor: pointer;
        color:$blue;
        margin-right: 20px;
        animation: spin-out 0.3s;
        transition-property: font-size;
        transition-duration: 0.3s;
    }

    &:hover{
        i{
            color:$yellow;
            font-size: 26pt;
            animation: spin-in 0.3s;
        }
    }
}

@keyframes spin-in { 
    100% { transform: rotate(90deg); } 
}

@keyframes spin-out { 
    100% { transform: rotate(-90deg); } 
}